/* Storing */
:root {
    --dark-green:#4b533a;
    --light-green:#929967;
}
body {
    background-color: #f4ece4;
    line-height:normal;
    width:100%;
    font-family: 'Roboto Mono', monospace;
}
html, body{
    margin: 0; padding: 0; width: 100%;
    height: 100%;
    overflow-x: hidden !important;
  }
/* adding in styling on header sizing */
h1 {
    font-size:275%;
}

.nav__header , .nav__break, .nav__link, .portfolio__header,.portfolio__caption {
    color:#f4ece4;
}
h2 {
    font-size:260%;
}
h3 {
    font-size:200%;
}
h4 {
    font-size:170%;
}
/*Some shared stylings across the page:*/

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
}
/* Styling begins for header*/
header {
    background-color:var(--light-green);
    max-width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-bottom:10px;
    padding:20px;
    flex-shrink:0;
}
.nav__break {
    margin: 1vh 0;
    width:50%;
}
.nav__link {
    text-align:center;
}
.nav__link:hover {
    color:black;
    opacity:45%;
}
/* Styling begins for about: */
#aboutme {
    display:flex;
    margin:3vh 5vh 5vh;
    flex-flow:wrap row;
}

#aboutme, #contact, .aboutme__break {
    color:#564e45;
}
.aboutme__break {
    width:95%;
    margin:auto;
    margin-bottom:2vh;
}

.about__image {
    width:100%;
    height:auto;
}
aside {
    /*flex: 1 1 100px;*/
    min-width:150px;
    margin: 3vh;
    flex:1;
}
.aboutme__blurb {
    text-indent:45px;
}
/* Styling begins for portfolio: */
.portfolio {
    background-color:var(--dark-green);
    padding:5vh;
    display:flex;
    flex-flow: wrap row;
    justify-content: center;
}

.portfolio__header {
    flex-shrink:0;
    flex-basis:100%;
    margin:5vh;
    text-align:center;
}
.portfolio__figure {
    display:flex;
    flex-direction:column;
    margin:1vh;
    position:relative;
}
.portfolio__caption {
    background-color:var(--light-green);
    padding: 30px 40px;
    position:absolute;
    bottom: 7%;
    left: 16px;
}
.portfolio__figure--regular {
 max-width:40%;

}
.portfolio__figure--focus {
    flex-basis:80%;
    /*height:auto;*/
}
@media only screen and (max-width:600px) {
    .portfolio__figure--regular, .portfolio__figure--focus {
        max-width:100%;
        flex-basis:100%;
    }
}
/* Styling begins for contact: */
.contact-socials {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-flow:wrap row;
}
.contact-socials__logo {
    max-width:125px;
    max-height:125px;
    /*margin:auto;*/
}
.contact-socials__link:hover {
    opacity:70%;
}
.contactInfo {
    display:flex;
    flex-flow: wrap column;
    justify-content:center;
    align-items:center;
    margin:5vh;
}
/* This margin property is shared and can probably be consolidated later.*/
.contactInfo__img {
    width:50px;
    height:50px;
}
.contactInfo__header, .contactInfo__img, .contactInfo__info {
    margin:1vh;
}
/* Styling begins for footer: */